extends layout

block content
	div(id="content")
		h1= title
		form(id="cuckform", name="add-thing")
			div.input
				span.label Title
				input(type="text", name="title")
			div.actions
				input(type="submit", value="add")
		ul(id="cucklist")
		div(id="mount")
