body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url("/img/dark_embroidery.png");
}

#content{
	width: 400px;
	margin: auto;
	background: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #00B7FF;
}
